@import 'tailwindcss';
@import '@nuxt/ui';

:root {
    --ui-radius: 0.25rem;

    --ui-white: rgba(0, 0, 0, 1);
}

.dark {
    --ui-white: rgba(255, 255, 255, 1);
}

@theme static {
    --color-black: rgb(0, 0, 0);
    --color-white: rgb(255, 255, 255);

    --font-sans: 'Public Sans', sans-serif;
}

@layer base {
    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    em {
        font-style: italic;
    }
}

html {
    scroll-behavior: smooth;
}

.dark {
    color-scheme: light !important;
}

body {
    @apply antialiased text-default bg-transparent scheme-light dark:scheme-dark;
}
