name: Release Plugins
on:
  release:
    types: [published]

permissions:
  contents: write
  packages: write

jobs:
  node-tests:
    name: Build & Release Plugin
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'

      - name: Run build
        env:
          NUXT_UI_PRO_LICENSE: "${{ secrets.NUXT_UI_PRO_LICENSE }}"
        run: make build-all

      - name: Release artifacts
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        if: github.ref_type == 'tag'
        with:
          files: '*.zip'
